.color--titulo {
  color: lightcoral;
}

.selected {
  background-color: lightgreen;
  color: #666;
  padding: 10px;
}

.barra_color {
  background-color: lightgoldenrodyellow;
  color: lightcoral;
  padding: 10px;
}
