<h2 class="color--titulo">{{ titulo }}</h2>
<p class="color--parrafo">{{ subtitulo }}</p>

<p>introduce el nombre en el input para que salga en el parrafo</p>

<!-- <p *ngIf="nombre">el nombre es: {{ nombre }}</p>
<input type="text" [(ngModel)]="nombre" /> -->

<!-- <ul *ngFor="let city of cities">
  <li
    [ngClass]="{
      selected: city === 'Barcelona',
      barra_color: city !== 'Barcelona'
    }"
  >
    {{ city }}
  </li>
</ul> -->

<img appNotImage src="{{ urlImage }}" alt="{{ nombre }}" />

<div [ngSwitch]="evaluacion">
  <p *ngSwitchCase="2">El valor es 2</p>
  <p *ngSwitchCase="6">El valor es 6</p>
  <p *ngSwitchDefault>No es ningun del valor</p>
</div>

<!-- EVENT BINDING ANGULAR -->
<!-- es un addEventListener -->

<p *ngIf="nombre">el nombre es: {{ nombre }}</p>
<input type="text" [(ngModel)]="nombre" />

<ul *ngFor="let city of cities">
  <li
    (click)="onCityCliked(city)"
    [ngClass]="{
      selected: city === selection
    }"
  >
    {{ city }}
  </li>
</ul>

<div *ngIf="selection">
  <p>Your city is: {{ selection }}</p>
  <!-- <button (click)="onClear()">Clear your selection</button> -->
  <app-button
    (click)="onClear()"
    [color]="'blue'"
    [label]="'Clear your selection'"
    [selection]="selection"
  ></app-button>
</div>

<!-- @input -->
